*{
    font-family: 'Plus Jakarta Sans', sans-serif;
    transition: all 0.5s ease-in-out;
}
.bg-brand{
    background-color: #fafafa;
}
.text-brand{
    color: #71728a;
}
.hover-text:hover{
    text-decoration: underline;
}
.title{
    text-align: justify;
}
.cursor-pointer{
    cursor: pointer;
}
.img-fluid:hover{
    filter: brightness(1.2);
    transform: scale(1.1);
}
.text-brand-2{
    color: #212529;
}
.text-brand-3{
    color: #262a2e;
}
.btn-load{
    max-width: 300px;
    background-color: black;
    color: white;
    border: none;
}
.btn-load:hover{
    background-color: #d7cfb8;
    color: black;
}
.bg-image{
    background-image: url(../images/bg.jpg);
    height: 720px;
    background-repeat: no-repeat;
    background-position: center;
}
.font-sm{
    font-size: 12px;
}